{
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 300,
                "explicitTypes": "never"
            }
        },
        {
            "files": "*.ts",
            "options": {
                "printWidth": 180,
                "singleQuote":true,
                "semi":true
            }
        }
    ]
}